<mat-card>
  <mat-card-content>
    <mat-card style="margin-top: 1%" *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10]">
      <mat-card-content>
        <mat-grid-list cols="8" rowHeight="80px">
          <mat-grid-tile colspan="1" rowspan="1" class="job-container">
            <p>Platform Logo</p>
          </mat-grid-tile>
          <mat-grid-tile colspan="2" rowspan="1" class="job-container">
            <p >Job Title</p>
            <p>Job Details</p>
          </mat-grid-tile>
          <mat-grid-tile colspan="2" rowspan="1" class="job-container">
            <p>Job Type</p>
            <p>Job Budget</p>
          </mat-grid-tile>
          <mat-grid-tile colspan="2" rowspan="1" class="job-container">
            <p>Job deadline</p>
            <p>Date Post Job</p>
          </mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1" class="job-container">
            <button mat-button>Details</button>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
    <mat-paginator [length]="0"
                   [pageSize]="0"
                   (page)="handlePageChange($event)"
                   [pageSizeOptions]="[0, 10, 20, 50]">
    </mat-paginator>
  </mat-card-content>

</mat-card>
